extends layout

block body
    .image
        h1.fashun-title= fashun.name

        img(src="#{fashun.imageURL}")
        .fashun-author
            h1.fashun-author= fashun.userDisplayName
            .clear
