extends layout

block head
    link(rel='stylesheet', href='/javascripts/image-tags/css/image-tags.css')
    script(src='/javascripts/image-tags/js/image-tags.js')
    script(src='/javascripts/fashun.js')

block body
    .image
        h1.fashun-title= fashun.name

        img(src="#{fashun.imageURL}")
        .fashun-author
            h1.fashun-author= fashun.userDisplayName
            .clear

    script
        $(".image").image_tag();
