extends layout
block body
    each fashun in fashuns
        .fashun-div 
            .fashun-main
                a(class='fashun-name', href="/fashuns/#{fashun.RowKey}") #{fashun.name}
                    - var day   = fashun.Timestamp.getDate();
                    - var month = fashun.Timestamp.getMonth() + 1;
                    - var year  = fashun.Timestamp.getFullYear();
            .fashun-meta
                span.fashun-user= fashun.userDisplayName
                span.fashun-date= month + '/' + day + '/' + year
