extends layout

block body
    if (!user)
        .brand-logo.big fashun

    a(class='brand-button big browse', href='fashuns/popular') Browse Fashuns
    
    if (!user)
        a(class='brand-button big fb', href='/auth/facebook')
            .fb_login_text Connect with Facebook
    else
        .parent
        .target(id="target") drop images here

        script(src='/javascripts/upload.js')
