!!!html
html
    head
        title= title
        meta(http-equiv='X-UA-Compatible', content='IE=10')
        link(rel='stylesheet', href='/stylesheets/reset.css')
        link(rel='stylesheet', href='/stylesheets/style.css')


    body(class='app')
        a(class='banner-wrapper', href='/') 
            .banner fashun
        a(class='fb', href='/auth/facebook')
            .fb_login_text Connect with Facebook
